$blue=#12b0eb
$f4=#f4f4f4
.main
		display: flex
		height: 100%
		padding-top:70px
		.menu
				width:395px
				// background: #ccc
				height:100%
				display: flex
				background: $f4
				>div:first-child
						width:100px
						border-right:1px solid #ccc
						div
								text-align: center
								padding: 18px 0
								border-bottom:1px solid #ccc
								cursor:pointer
								transition: background 1.5s
								&:hover
										background: #c7c7c7
								p
										color:#5b667a
								img
										font-size: 30px
										margin-bottom: 3px
										color:#5b667a
				.tep_main
						flex:1
						border-right:1px solid #ccc
						ul.typeSelect
								width:100%
								display: flex
								align-items: center
								li
										padding:18px 0
										img
												margin-bottom: 3px
										text-align: center
										flex:1
										cursor: pointer
										transition: background 1.5s
										&:hover
												background: #c7c7c7
										&.active
												border-bottom: 2px solid $blue
.tmp_content
		padding:15px
		>div
				transition: display 0.5s
.image_temp
		img
				max-width: 100%
.watch_demo
		position: absolute
		left: 0
		text-align: center
		height : 60px
		line-height: 60px
		background: $f4
		width:100%
		top: 1px
		z-index: 2
		display: flex
		align-items: center
		justify-content: space-between
		padding:0 10px

.tips{
		border-color: #d9534f
    outline: 0
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(217, 83, 79)
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(217, 83, 79)
}

@media (max-width: 1300px)
	.view-tmp
			padding-top: 80px
			.phone
					zoom:0.9
.view-tmp
		flex:1
		display: flex
		align-items: center
		justify-content: center
		position: relative
		.phone
				position: relative;
				>img
						width: 368px
						height:648px
				>div
						width: 250px
						height:430px
						position: absolute
						left:60px
						top:108px
						background: #e4e4e4
		.view_content
				overflow-y: scroll
				>*:hover
						border:1px dashed $blue
						cursor: move
.edit_content
		padding:10px
		background: $f4
		width: 295px
		.breadcrumb
				margin-bottom: 0
#history_tmp,#components_tmp,#images_tmp
		.panel-heading
				display: flex
				align-items: center
				justify-content: space-between
.history_list,.components_list,.images_list
		ul
				li
						display: flex
						align-items: center
						justify-content: space-between
						cursor: pointer
						padding:5px 0
						border-bottom: 1px dashed #ccc
						&:hover
								background: $f4
		.page_btn
				text-align: center
				padding:10px
				display: flex
				justify-content: center
#images_list_content
		li
				width : 47%
				margin:1%
				display: inline-block
				text-align: center
				border: 1px solid #fafafa
				.img_box
						display: flex
						align-items: center
						justify-content: center
						overflow: hidden
				img
					 max-width: 100%
.btn-file
		position: relative
		input
				position: absolute
				left: 0
				right: 0
				bottom: 0
				top:0
				opacity: 0
