$blue=#12b0eb
$f4=#f4f4f4
.main
		display: flex
		height: 100%
		padding-top:70px
		.menu
				width:395px
				// background: #ccc
				height:100%
				display: flex
				background: $f4
				>div:first-child
						width:100px
						border-right:1px solid #ccc
						div
								text-align: center
								padding: 18px 0
								border-bottom:1px solid #ccc
								cursor:pointer
								transition: background 1.5s
								&:hover
										background: #c7c7c7
								p
										color:#5b667a
								img
										font-size: 30px
										margin-bottom: 3px
										color:#5b667a
				.tep_main
						flex:1
						border-right:1px solid #ccc
						ul.typeSelect
								width:100%
								display: flex
								align-items: center
								li
										padding:18px 0
										img
												margin-bottom: 3px
										text-align: center
										flex:1
										cursor: pointer
										transition: background 1.5s
										&:hover
												background: #c7c7c7
										&.active
												border-bottom: 2px solid $blue
.tmp_content
		padding:15px
		>div
				transition: display 0.5s
.image_temp
		img
				max-width: 100%
.dsec
		position: absolute
		top: 0
		left:0
		right:0
		bottom: 0
		width:100%
		height:100%
.watch_demo
		position: absolute
		left: 0
		text-align: center
		height : 120px
		// line-height: 60px
		background: #fafafa
		width:100%
		top: 1px
		z-index: 2
		display: flex
		align-items: center
		justify-content: space-between
		padding:0 10px
		.content-dsec
				// width: 60%
				flex:1
				display: flex
				align-items: center
				.tm
						display: inline-block
						width:80px
						height:80px
						position: relative;
						img
								@extend .dsec
						input
								opacity: 0
								@extend .dsec
				.desc
						flex:1
						margin-left: 10px
						>input:first-child
								margin-bottom: 5px
			.btnGroup
						width: 150px
						margin-left:15px
						>button
								width: 130px
								margin-bottom: 5px
.tips{
		border-color: #d9534f
    outline: 0
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(217, 83, 79)
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(217, 83, 79)
}

@media (max-width: 1300px)
	.view-tmp
			padding-top: 80px
			.phone
					zoom:0.9
.view-tmp
		flex:1
		display: flex
		justify-content: center
		position: relative
		padding:150px 0 50px 0
		overflow-y: scroll
		.phone
				position: relative;
				width:340px
				height:640px
				overflow-y: scroll
				box-shadow: 0 0 6px rgba(63,70,82,.5)
				>img
						width: 368px
						height:648px
				>div
						width: 100%
						min-height: 640px
						// position: absolute
						left:60px
						top:108px
						background: #fafafa
		.view_content
				overflow-y: scroll
				>*:hover
						border:1px dashed $blue
						cursor: move
.edit_content
		padding:10px
		background: $f4
		width: 295px
		.breadcrumb
				margin-bottom: 0
#history_tmp,#components_tmp,#images_tmp
		.panel-heading
				display: flex
				align-items: center
				justify-content: space-between
.history_list,.components_list,.images_list
		ul
				li
						display: flex
						align-items: center
						justify-content: space-between
						cursor: pointer
						padding:5px 0
						border-bottom: 1px dashed #ccc
						&:hover
								background: $f4
		.page_btn
				text-align: center
				padding:10px
				display: flex
				justify-content: center
#images_list_content
		li
				width : 47%
				margin:1%
				display: inline-block
				text-align: center
				border: 1px solid #fafafa
				.img_box
						display: flex
						align-items: center
						justify-content: center
						overflow: hidden
				img
					 max-width: 100%
.btn-file
		position: relative
		input
				position: absolute
				left: 0
				right: 0
				bottom: 0
				top:0
				opacity: 0;
#eleGoodsInfo{display: none;}



/* 表头固定内容滚动的表格  */
.modal-goodslist{margin:0 0 20px;line-height:18px;}
.modal-goodslist .scroll{max-height:306px;border:1px solid #ddd;border-top:0;overflow-y:auto;}
.modal-goodslist table{width:100%;table-layout:fixed;}
.modal-goodslist th,.modal-goodslist td{padding:10px;border:1px solid #ddd;}
.modal-goodslist th{font-weight:bold;background:#eee;}
.modal-goodslist thead th:last-child,.modal-goodslist tbody td:last-child{width:auto;}
.modal-goodslist tbody tr:nth-child(2n){background:#fafafa;}
.modal-goodslist tbody tr:first-child td{border-top:0;}
.modal-goodslist tbody tr:last-child td{border-bottom:0;}
.modal-goodslist tbody tr td:first-child{border-left:0;}
.modal-goodslist tbody tr td:first-child img{width:100px;}
.modal-goodslist tbody tr td:last-child{border-right:0;}
.modal-goodslist tbody tr td:last-child span{border-bottom: 1px solid blue;color: blue;cursor: pointer;}
.gu-mirror {
  position:fixed !important;
  margin:0 !important;
  z-index:9999 !important;
  opacity:.8;
}
.gu-hide {
  display:none !important
}
.gu-unselectable {
  cursor:pointer;
  -webkit-user-select:none !important;
  -moz-user-select:none !important;
  -ms-user-select:none !important;
  user-select:none !important;
}
.gu-transit {
  opacity:.2;
}
