body,html,p,h1,h2,h3,h4,h5,h6,img,button,input,a,ul,li,ol
		margin:0
		padding:0
		outline: none
		color:#333
		list-style: none
a,a:link,a:visited,a:hover,a:active
		color:#333
		text-decoration: none
body,html
		// background:#f8f8f8
		font-family: Microsoft Yahei, "Helvetica Neue", Helvetica, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif
		height:100%

.header
		// background: #333
		position: fixed
		width:100%
		border-bottom: 1px solid #ccc
		nav
				display:flex
				justify-content : space-between
				align-items: center
				padding:0 20px
				h2
						width:100px
				ul
						li
								display: inline-block;
								a
										padding:25px 35px
										display: inline-block;
										width: 100%
										height:100%
										transition: all 0.5s
										&:hover
												background: #dfdfdf
												color:#de8b29
